* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {

    background-image: url("img/windows_xp_14.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.margem {

    color: aliceblue;
   flex-direction: column;   /* empilha título + caixa */
    align-items: center;      /* centraliza horizontal */
    justify-content: flex-start; 
   height: 100vh;
   display: flex;
 padding-top: 50px;
}

.caixa_maior {
    background-color: rgb(248, 254, 255);
    width: 500px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 200px;
 


}

.input_text {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    background-color: rgb(16, 145, 145);
    border-radius: 20px;
    color: aliceblue;
    font-size: 16px;
    padding: 20px;
}

.idioma {
    width: 100%;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    background-color: rgb(16, 145, 145);
    color: aliceblue;
    border: none;
}




button {
    width: 40px;
    height: 40px;
    padding: 0;
    /* remove espaços internos */
    overflow: hidden;
    /* garante que nada saia do botão */
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}

button img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    /* mantém a proporção e cabe no botão */
}


.controle {

    display: flex;
    align-items: center;
    gap: 5px;

}

.resultado {
    padding: 20px;
    background-color: rgb(16, 145, 145);
    border-radius: 20px;
}


.titulo_tradução {

    color: aliceblue;

    font-size: 20px;

    margin-bottom: 10px;
}

.caixa_de_tradução {
    color: aliceblue;
    font-size: 15px;

}


.creditos {
 position: fixed;
    bottom: 10px;
    right: 15px;

    font-size: 14px;
    color: aliceblue;
    opacity: 0.9;

    font-weight: normal;


}